<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"/>
        <style>
            * {
                font-family: 'Noto Sans KR', sans-serif;
                font-size: %SIZE;
            }

            html, body {
                margin: 0;
            }

            html, body, #text-box {
                width: 100%;
                height: 100%;
            }

            #text-box {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        </style>

    </head>
    <body>
        <div id="text-box">
            <div>%TEXT1</div>
            <div>%TEXT2</div>
        </div>
    </body>
</html>
